/*
    Ich bin ein CSS-Kommentar
*/

/*
    Selector in CSS

    Element-Selektor
    Stylt alle Elemente des entsprechenden Typen
*/

p {
    color: black;
}


/*
    Universal-Selector
    Stylt alle Elemente
    Spezifität: 0, stylt also nur Elemente, für die das Property noch nicht festgelegt wurde
*/
* {
    color: chocolate;
}

/*
    ID-Selector
    Stylt jedes element mit der entsprechenden ID, also im Optimalfall nur ein einziges
*/
#site-top {
    font-size: 42px;
    color: darkgreen;
}

/*
    Class-Selector
    Stylt alle Elemente mit der entsprechenden Klasse
*/

.cool-paragraph {
    color: darkslategrey;
    font-size: 36px;
}